{% extends 'base.html' %}
{% load static %}

{% block content%}
<style >
  body{
    background-image: url("/static/img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
 }   
</style>
<body>
      <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel"
      style="padding-right:150px;padding-left:150px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="{% static 'img/R2.jpg'%}" height="500" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="{% static 'img/R7.jpg'%}" height="500" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="{% static 'img/R6.jpg'%}" height="500" class="d-block w-100" alt="...">

        </div>
      </div>
      <button class="carousel-control-prev" style="padding-left:150px;" type="button"
        data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="padding-right: 150px;" type="button"
        data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      </body>  
{% endblock %}



    



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    


