{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<style >
	.label{
		color: gray;
	}
	.col-lg-4.mx-auto.shadow.p-3.mb-5.bg-white.rounded {
    margin-top: 40px;
    }
</style>
<div class="col-lg-4 mx-auto shadow p-3 mb-5 bg-white rounded">
<div class="row" style="padding: 40px;margin-top: 10px">
<div class="col-sm-10 mx-3"><h3 style="padding:0px">Forgot your password?</h3>
<span class="label"><p>Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy}}<br>
    <input type="submit" class="btn btn-warning" value="Send me instructions!">
  </form></span></div>
  </div>
  </div>
{% endblock %}